*{padding: 0%;
    margin: 0%;
    font-family:"Selectric Orator"}
@font-face {
font-family: "Selectric Orator";
src: local("Selectric Orator"), url(Selectric\ Orator.ttf);;}
@font-face {
    font-family: "D-DINCondensed";
    src: local("D-DINCondensed"), url(D-DINCondensed.ttf)}

.header
{background-color: #DACEB6 ;
    display:flex;
    justify-content:space-between;
    align-items: center;
    height: 9vh;
    padding: 10px 5%;
    margin-top: 0;
    position: fixed;
    width: 90%;}

.Linklogo{text-decoration: none;display:flex;}
.Logoentero{display:flex;
align-items: center;
margin-top: 0;}

#mediologo{height: 5.7vh;}

#arecopo{margin-left: 1.3vh; 
         margin-top: 0.7vh; }

#arecopo li{font-size:1.4vh; 
            color: black;
            letter-spacing:0.5vh;
            overflow:hidden;
            white-space: nowrap;
            width: 0;}
            
                     
.ARQ1{animation: typing 1.3s steps(20, end);animation-fill-mode: forwards}
.ARQ2{animation: typing 1.3s steps(20, end);animation-delay: 1.3s;animation-fill-mode: forwards}
.ARQ3{animation: typing 1.3s steps(20, end);animation-delay: 2.6s;animation-fill-mode: forwards}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  } 
.Logoentero:hover{transform: scale(1.2);transition: all 0.6s}



legend{padding: 16vh 10vw 10vw; text-align:left; text-justify:auto;}



nav{float: right;}
.nav-links {list-style: none;font-size:2.1vh}
.nav-links li {display: inline-block;}
.nav-links li:hover{
transform: scale(1.2);transition: all 0.4s}

.nav-links a{text-decoration: none;
Color:black;
padding: 0 0.8vh;}
.nav-links li a:hover{color: #C7922A ;}

.piepagina{
    background-color: #DACEB6;
    display:flex;
    height: 6vh;
    padding: 10px 5%;
    position:static;
    width: 90%;
    }
    
    .piepagina .redes{margin:auto;text-decoration: none;}
    
    .piepagina .redes a{color: black;transition-duration: 0.4s}
    .piepagina .redes a:hover{color: black;color: #C7922A ;}



