* {
    box-sizing: border-box;
}
body {
    position: relative;
    display: flex;
    padding: 0%;
    margin: 0%;
    font-family: "Selectric Orator";
   background-color: #004240; 
  }

@font-face {
    font-family: "Selectric Orator";
    src: local("Selectric Orator"), url(Selectric\ Orator.ttf);
    ;
}

@font-face {
    font-family: "D-DINCondensed";
    src: local("D-DINCondensed"), url(D-DINCondensed.ttf)
}

.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 10px 5%;
    margin-top: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.Linklogo {
    text-decoration: none;
    display: flex;
}

.Logoentero {
    margin-top: 1%;
    justify-content: space-between;
    align-items: center;
}

#mediologo {
    height: 60px;
    margin-right: 10px;
}


header div ul {
    padding: 0%;
    margin: 15px auto;
    line-height: 14px;
}



#arecopo li {
    font-size: 19px;
    color: black;
    letter-spacing: 3px;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
}


.ARQ1 {
    animation: typing 1.3s steps(20, end);
    animation-fill-mode: forwards
}

.ARQ2 {
    animation: typing 1.3s steps(20, end);
    animation-delay: 1.3s;
    animation-fill-mode: forwards
}

.ARQ3 {
    animation: typing 1.3s steps(20, end);
    animation-delay: 2.6s;
    animation-fill-mode: forwards
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.Logoentero:hover {
    transform: scale(1.1);
    transition: all 0.4s
}




nav {
    float: right;
    margin-right: 2%;
}

.nav-links {
    list-style: none;
    font-size: 19px
}

.nav-links li {
    display: inline-block;
}

.nav-links li:hover {
    transform: scale(1.2);
    transition: all 0.4s
}

.nav-links a {
    text-decoration: none;
    Color: black;
    padding: 0%;
    margin: 1vh;
}

.nav-links li a:hover {
    color: #0E8388;
}


.contact_form{margin-top: 150px;
    margin-bottom: 150px;
    margin-left: auto;
    display: flexbox;
    margin-right: auto;
    width: 95%;
    }

  
  .formulario{
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color:#daceb6; 
    padding-left: 30px;
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #0f0c0f; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #161115; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #ae5626; 
    border-color: #0e0d0d; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #daceb6; 
  }
  
  
  span{
    color: #0f0e0f; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #130d11;
    font-family: "Selectric Orator";
      src: local("Selectric Orator"), url(Selectric\ Orator.ttf);
      ;
  }
  
  
  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;
    font-family: "Selectric Orator";
      src: local("Selectric Orator"), url(Selectric\ Orator.ttf);
      ;   
  }
  
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #daceb6;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #dfd9d9;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #cfcfcf;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #b11515;
  }









  .piepagina {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.piepagina .redes {
    margin: auto;
    border-top: 1px solid black;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.piepagina .redes .icons {
    display: flex;
}

.piepagina .redes a {
    color: black;
    transition-duration: 0.2s;
    margin: 6px;
}

.piepagina .redes a {
    color: black;
    margin: 6px;

}

.piepagina .redes a:hover {
    color: #0E8388;
    transform: scale(1.2);
    transition: all 0.6s
}
  
  
@media (max-width: 952px) {

    .Logoentero:hover {
        transform: none;
    }

    .nav-links li:hover {
        transform: none;
    }
    .Logoentero {
        margin-top: 2px;}
        .nav-links {
            margin-top: 2px;
            margin-inline-start: 26px;
            font-size: 18px;
            display: flex;
        }

        .header {
            flex-direction: column;
            height: 105px;
            align-items: flex-start;
        }

    .nav-links li {
        margin: 0%;
    }

    .nav-links a {
        margin: 13px
    }

    #mediologo {
        height: 45px;
        width: auto;
    }

    #arecopo {
        margin-top: 3%;
        line-height: 13px
    }

    #arecopo li {
        font-size: 15px;
    }

    .ARQ2,
    .ARQ3 {
        margin-top: 0%;
    }
    .contact_form{margin-top: 35px;}
}


@media (max-width: 479px) {

    .Logoentero:hover {
        transform: none;
    }

    .nav-links li:hover {
        transform: none;
    }

    .nav {
        margin: 0%;
    }

    .nav-links {
        margin-top: 2%;
        padding: 0%;
        margin-inline-start: 0;
        margin-left: 0%;
        font-size: 18px;
        display: flex;
    }

    .header {
        flex-direction: column;
        height: 110px;
        align-items: flex-start;
    }


    .nav-links a {
        margin-left: 0%;
    }

    #mediologo {
        height: 45px;
        width: auto;
    }

    #arecopo {
        margin-top: 3%;
        line-height: 13px
    }

    #arecopo li {
        font-size: 15px;
    }
    .contact_form{margin-top: 38px;}
}