body {
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  margin: 0;
  height: 90vh;
  font-family: "Selectric Orator";
  animation: myAnim 1s cubic-bezier(0.85, 0, 0.15, 1) 0s 1 normal forwards;
}

@font-face {
  font-family: "Selectric Orator";
  src: local("Selectric Orator"), url(Selectric\ Orator.ttf);
=======
  margin:0;
  height: 90vh;
  font-family: "Selectric Orator";
  animation: myAnim 1.5s cubic-bezier(0.85, 0, 0.15, 1) 0s 1 normal forwards;
>>>>>>> f254bda557e4790bf9608817b1fff8b06f2269b9
}

.parent {
  display: grid;
  grid-template-columns: 4vw auto 0vw 4vw;
  grid-template-rows: 3vh auto 3vh;
<<<<<<< HEAD
=======
  /*grid-template-rows: repeat(5, 1fr);*/
>>>>>>> f254bda557e4790bf9608817b1fff8b06f2269b9
  grid-column-gap: 0;
  grid-row-gap: 0;
  padding: 0;
  margin: 25%;
<<<<<<< HEAD


}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
=======
  
  
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
>>>>>>> f254bda557e4790bf9608817b1fff8b06f2269b9
}


.div1 {
  grid-area: 1 / 2 / 2 / 4;
  display: flex;
<<<<<<< HEAD
  justify-content: flex-end;
  /* Alineado a la derecha */
  align-items: flex-end;
  /* Alineado abajo */
  margin: 0;
  animation: myAnim1 1s cubic-bezier(0.64, 0, 0.78, 0) 0s 1 normal forwards;
}

@keyframes myAnim1 {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
=======
  justify-content: flex-end; /* Alineado a la derecha */
  align-items: flex-end; /* Alineado abajo */
  margin: 0;
  animation: myAnim1 1.4s cubic-bezier(0.64, 0, 0.78, 0) 0s 1 normal forwards;
}
@keyframes myAnim1 {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
>>>>>>> f254bda557e4790bf9608817b1fff8b06f2269b9
}


a {
<<<<<<< HEAD
  text-decoration: none;
  color: black;
  font-size: 2em;
  margin: 0;
=======
text-decoration: none;
color: black;
font-size: 2em;
margin: 0;
>>>>>>> f254bda557e4790bf9608817b1fff8b06f2269b9
}

.div2 {
  grid-area: 3 / 2 / 4 / 4;
  display: flex;
<<<<<<< HEAD
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  margin-top: 0.4vh;
  animation: myAnim2 1s cubic-bezier(0.64, 0, 0.78, 0) 0s 1 normal forwards;
}

@keyframes myAnim2 {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
=======
  justify-content: flex-start; /* Alineado a la izquierda */
  align-items: flex-start; /* Alineado arriba */
  margin: 0;
  margin-top: 0.4vh;
  animation: myAnim2 1.4s cubic-bezier(0.64, 0, 0.78, 0) 0s 1 normal forwards;
}
@keyframes myAnim2 {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
>>>>>>> f254bda557e4790bf9608817b1fff8b06f2269b9
}

.div3 {
  display: flex;
<<<<<<< HEAD
  justify-content: right;
  align-items: flex-start;
  grid-area: 2 / 1 / 3 / 2;
  margin: 0;
  animation: myAnim3 1s cubic-bezier(0.7, 0, 0.84, 0) 0s 1 normal forwards;
=======
  justify-content:right; /* Alineado a la izquierda */
  align-items:flex-start; /* Alineado arriba */
  grid-area: 2 / 1 / 3 / 2;
  margin: 0;
  animation: myAnim3 1.4s cubic-bezier(0.7, 0, 0.84, 0) 0s 1 normal forwards;
>>>>>>> f254bda557e4790bf9608817b1fff8b06f2269b9
}



.div4 {
<<<<<<< HEAD
  padding: 0;
  display: contents;
  grid-area: 2 / 2 / 3 / 4;

}
=======
  padding: 0; /* Eliminar el relleno */
  display:contents; /* Cambiado a inline-block */
  grid-area: 2 / 2 / 3 / 4;

  }
>>>>>>> f254bda557e4790bf9608817b1fff8b06f2269b9

.div5 {
  grid-area: 1 / 1 / 2 / 2;
}

.div6 {
  grid-area: 3 / 1 / 4 / 2;
}





<<<<<<< HEAD
.div8 {
  grid-area: 3 / 4 / 4 / 5;
}
=======
.div8 { grid-area: 3 / 4 / 4 / 5;} 
>>>>>>> f254bda557e4790bf9608817b1fff8b06f2269b9



.div3 .Proyectos {
<<<<<<< HEAD
  margin-left: 1px;
  margin: 0;
  writing-mode: vertical-rl;
=======
  margin-left:1px; 
  margin: 0;
  writing-mode: vertical-rl; /* Establece la dirección vertical de izquierda a derecha */
>>>>>>> f254bda557e4790bf9608817b1fff8b06f2269b9
  transform: scale(-1);
}

.div4 .Tramado {
  width: 100%;
  height: 100%;
  margin: 0;
  max-width: 1053.381px;
  max-height: 790px;
<<<<<<< HEAD
  object-fit: cover;
}

.str0 {stroke:black;
  stroke-width:29.4471;
  stroke-linecap:round;
  stroke-linejoin:round;
  transition-duration: 0.5s;}
.fil1 {fill:none}
.fil2 {fill:#ffffff}
.fil0 {fill:black;
  transition-duration: 0.5s}






.div7 {
  grid-area: 1 / 4 / 3 / 5;
  bottom: 0;
  display: flex;
  animation: myAnim4 1s cubic-bezier(0.7, 0, 0.84, 0) 0s 1 normal forwards;
}
=======
  object-fit:cover;
  }

  .div7 { 
    grid-area: 1 / 4 / 3 / 5;
    bottom:0 ;
    display: flex;
    animation: myAnim4 1.4s cubic-bezier(0.7, 0, 0.84, 0) 0s 1 normal forwards;
     }
>>>>>>> f254bda557e4790bf9608817b1fff8b06f2269b9



.icons {
<<<<<<< HEAD
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding: 0%;
  transition-duration: 0.6s;
}

.icons a {
  display: flex;
  margin-top: 0.9vh;
  margin-left: 0.5vh;
  
=======
  display:flex;
  justify-content:flex-end; /* Centra los elementos horizontalmente */
  align-items: flex-end; /* Alinea los elementos al final verticalmente */
  flex-direction: column;
  padding: 0%;
}

.icons a{display: flex;
  margin-top: 0.9vh;
  margin-left: 0.5vh;
>>>>>>> f254bda557e4790bf9608817b1fff8b06f2269b9
}

.icons svg {
  color: black;
<<<<<<< HEAD
}

.icons a:hover {
  transform: scale(1.2);}

.icons a:hover svg{color: #EF4939;}

.internal.links {
  transition-duration: 0.3s;
  letter-spacing: 0.06vw;
}

.Nosotres.internal.links:hover {
  color: #4B7944;
 }

.Servicios.internal.links:hover {
  color: #4B6779;
  }

.Proyectos.internal.links:hover {
  color: #FDC03F;
=======
  transition-duration: 0.6s;
}

.icons svg:hover {
  color: #EF4939;
  transform: scale(1.2);
  
}
.internal.links{transition-duration: 0.6s;}
.Nosotres.internal.links:hover {
  color: #4B7944;
  letter-spacing: 0.08vw;
}
.Servicios.internal.links:hover {
  color: #4B6779;
  letter-spacing: 0.08vw;
}
.Proyectos.internal.links:hover {
  color: #FDC03F;
  letter-spacing: 0.08vw;
>>>>>>> f254bda557e4790bf9608817b1fff8b06f2269b9
}



@keyframes myAnim3 {
<<<<<<< HEAD
  0% {
    opacity: 0;
    transform: translatey(50px);
  }

  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes myAnim4 {
  0% {
    opacity: 0;
    transform: translatey(-50px);
  }

  100% {
    opacity: 1;
    transform: translatey(0);
  }
=======
	0% {
		opacity: 0;
		transform: translatey(50px);
	}

	100% {
		opacity: 1;
		transform: translatey(0);
	}
}
@keyframes myAnim4 {
	0% {
		opacity: 0;
		transform: translatey(-50px);
	}

	100% {
		opacity: 1;
		transform: translatey(0);
	}
>>>>>>> f254bda557e4790bf9608817b1fff8b06f2269b9
}

@media (max-width: 952px) {
  body {
    display: flex;
<<<<<<< HEAD
    margin: auto;

  }

  .internal.links {
    font-size: 1.6em;


  }

  .icons a {
    display: flex;
    justify-content: end;
  }

}
@media (max-width: 952px) {
  .parent {
    margin: 8%;}
}


=======
    margin:auto;
   
  }
  .internal.links {
    font-size: 1.6em;

    
    }

    .icons a {
      display: flex;
      justify-content:end;}

}

.str1 {stroke-width:20.0083;}
.str0 {transition-duration: 0.5s;
  transition-delay: 0.2s;
  stroke:black;stroke-width:84.695;stroke-linecap:round;stroke-linejoin:round}
.fil0 {fill:none}
.fil1 {fill:#000000;
transition-duration: 0.4s;
transition-delay: 0.2s;}
>>>>>>> f254bda557e4790bf9608817b1fff8b06f2269b9

