* {
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    padding: 0%;
    margin: 0%;
    font-family: "Selectric Orator";
}


@font-face {
    font-family: "Selectric Orator";
    src: local("Selectric Orator"), url(Selectric\ Orator.ttf);
    ;
}

@font-face {
    font-family: "D-DINCondensed";
    src: local("D-DINCondensed"), url(D-DINCondensed.ttf)
}



/* Header y navbar */


.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 10px 5%;
    margin-top: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
}

/* Header Logo */


.Logoentero {
    margin-top: 1%;
    justify-content: space-between;
    align-items: center;
}

.Linklogo {
    text-decoration: none;
    display: flex;
}

#mediologo {
    height: 60px;
    margin-right: 10px;
}

header div ul {
    padding: 0%;
    margin: 15px auto;
    line-height: 14px;
}

#arecopo li {
    font-size: 19px;
    color: black;
    letter-spacing: 3px;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
}
@-moz-document url-prefix() { header div ul {margin: 9.5px auto;}
#arecopo li {font-size: 17px;}
}
/* Header logo typing efect */


.ARQ1 {
    animation: typing 1.3s steps(20, end);
    animation-fill-mode: forwards
}

.ARQ2 {
    animation: typing 1.3s steps(20, end);
    animation-delay: 1.3s;
    animation-fill-mode: forwards
}

.ARQ3 {
    animation: typing 1.3s steps(20, end);
    animation-delay: 2.6s;
    animation-fill-mode: forwards
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.Logoentero:hover {
    transform: scale(1.1);
    transition: all 0.4s
}


/* Header menu navbar */


nav {
    float: right;
    margin-right: 2%;
}

.nav-links {
    list-style: none;
    font-size: 19px
}

.nav-links li {
    display: inline-block;
}

.nav-links li:hover {
    transform: scale(1.2);
    transition: all 0.4s
}

.nav-links a {
    text-decoration: none;
    Color: black;
    padding: 0%;
    margin: 1vh;
}

.nav-links li a:hover {
    color: #0E8388;
}


/*GridCuerpo*/
.GridCuerpo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-auto-rows: minmax(20px, auto);
    gap: 30px;
    grid-auto-flow:dense ;
    margin-bottom: 6vh;
    border: 3px solid #DACEB6;
    border-radius: 8px;
    width: 95%;
    margin: auto;
    padding: 5%;
    margin-top: 155px;
    margin-bottom: 8vh;
    padding-top: 0%;
    

}

.Item {padding-top: 0%;

}
.Item.Proyectos{grid-column-start: 1; grid-column-end: -1;}

.Item.Proyectos h1{margin: 0%;padding: 0%;}
.descrip {
    margin-top: 0%;
    font-size: 14px;
    font-family: 'Nunito';
}

.ancho {
    grid-column: span 2;
}

figure {
    margin: auto;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.GridCuerpo img {
    margin: auto;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    filter: grayscale(90%);
    transition: 2.3s;
}


.EfectoFoto {
    width: 100%;
    height: 100%;
    top: 0;
    right: -68%;
    position: absolute;
    font-family: 'Nunito';
    font-size: 18px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1.2s;
    text-shadow: 1px 2px 2px black;
}

a:hover .EfectoFoto {
    right: 0;
}

figure:hover img {
    filter: none;
}














/* Pie de pagina redes */

.piepagina {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 6vh;
    padding: 10px 5%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.piepagina .redes {
    margin: auto;
    border-top: 1px solid black;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.piepagina .redes .icons {
    display: flex;
}

.piepagina .redes a {
    color: black;
    transition: 0.3s;
    margin: 6px;
}



.piepagina .redes a:hover {
    color: #0E8388;
    transform: scale(1.2);
    
}


/* media query */


@media (max-width: 952px) {


    .Logoentero:hover {
        transform: none;
    }

    .nav-links li:hover {
        transform: none;
    }

    .nav-links {
        margin-top: 1%;
        margin-inline-start: 26px;
        font-size: 17px;
        display: flex;
    }

    .header {
        flex-direction: column;
        height: 111px;
        align-items: flex-start;
    }

    .nav-links li {
        margin: 0%;
    }

    .nav-links a {
        margin: 13px
    }

    #mediologo {
        height: 45px;
        width: auto;
    }

    #arecopo {
        margin-top: 3%;
        line-height: 13px
    }

    #arecopo li {
        font-size: 15px;
    }

    .ARQ2,
    .ARQ3 {
        margin-top: 0%;
    }
    .GridCuerpo {
        margin-top: 113px;gap: 5px;
    }
   

    .Item.alto {
        grid-column-start: 1; grid-column-end: -1;
    }
    .Item.Proyectos{grid-column-start: 1; grid-column-end: -1;}

    .Item.ancho{grid-column-start: 1; grid-column-end: -1;}

   

    .EfectoFoto {
        top: 0;
        right: 0%;
        font-size: 12px;
    }

    .EfectoFoto {font-size: 16px;}

}

@media (max-width: 479px) {

    .Logoentero:hover {
        transform: none;
    }

    .nav-links li:hover {
        transform: none;
    }

    .nav {
        margin: 0%;
    }

    .nav-links {
        margin-top: 2%;
        padding: 0%;
        margin-inline-start: 0;
        margin-left: 0%;
        font-size: 17px;
        display: flex;
    }

    .header {
        flex-direction: column;
        height: 109px;
        align-items: flex-start;
    }


    .nav-links a {
        margin-left: 0%;
    }

    #mediologo {
        height: 45px;
        width: auto;
    }

    #arecopo {
        margin-top: 3%;
        line-height: 13px
    }

    #arecopo li {
        font-size: 15px;
    }

    .GridCuerpo {
        margin-top: 111px;
    }
    .EfectoFoto {font-size: 10px;}

}