*{box-sizing: border-box;}

body{position: relative;
    display:flex;
    padding: 0%;
    margin: 0%;
    font-family:"Selectric Orator";}


@font-face {
font-family: "Selectric Orator";
src: local("Selectric Orator"), url(Selectric\ Orator.ttf);;}
@font-face {
    font-family: "D-DINCondensed";
    src: local("D-DINCondensed"), url(D-DINCondensed.ttf)}

.header
{background-color: white ;
    display:flex;
    justify-content:space-between;
    align-items: center;
    height: 95px;
    padding: 10px 5%;
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;}

.Linklogo{text-decoration: none;display: flex;}
.Logoentero{ justify-content: space-between;
align-items: center;}

#mediologo{height: 60px;}


header div ul {margin: 15px auto;
         padding-left: 10px;
         line-height: 14px;}


#arecopo li{font-size:19px;
            margin-left: 0%;
            color: black;
            letter-spacing:3px;
            overflow:hidden;
            white-space: nowrap;
            width: 0;}
            
                     
.ARQ1{animation: typing 1.3s steps(20, end);animation-fill-mode: forwards}
.ARQ2{animation: typing 1.3s steps(20, end);animation-delay: 1.3s;animation-fill-mode: forwards}
.ARQ3{animation: typing 1.3s steps(20, end);animation-delay: 2.6s;animation-fill-mode: forwards}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  } 
.Logoentero:hover{transform: scale(1.2);transition: all 0.4s}

nav{float: right;margin-right: 2%;}
.nav-links {list-style: none;font-size:18px}
.nav-links li {display: inline-block;}
.nav-links li:hover{
transform: scale(1.2);transition: all 0.4s}

.nav-links a{text-decoration: none;
Color:black;
padding: 0%;
margin: 1vh;}
.nav-links li a:hover{color: #0E8388 ;}


@media (max-width: 952px){

    .Logoentero:hover{transform:none;}
    .nav-links li:hover{transform: none;}
    .nav-links {margin-top: 5%;margin-inline-start:26px;font-size:18px;display: flex;}
    .header{flex-direction:column; height: auto;align-items:flex-start;}
    .nav-links li{margin:0%;}
    .nav-links a{margin:13px}
    #mediologo{height: 45px;width: auto;}
    #arecopo{margin-top: 3%;line-height: 13px}
    #arecopo li{font-size: 15px;}
    .GALERIA{
        margin:auto;  
        display: flex;
        flex-direction:column;
        margin-top: 150px; 
        align-items: center; 
        justify-content: center;}
    }
@media (max-width: 479px){

        .Logoentero:hover{transform:none;}
    
        .nav-links li:hover{transform: none;}
        .nav{margin: 0%;}

        .nav-links {margin-top: 5%;
                   padding: 0%;
                   margin-inline-start:0;
                   margin-left: 0%;
                   font-size:18px;
                   display: flex;}
    
        .header{flex-direction:column; 
                height: auto; 
                align-items:flex-start;}
    
    
        .nav-links a{margin-left: 0%;}
    
        #mediologo{height: 45px;
                   width: auto;}
    
        #arecopo{margin-top: 3%;
                 line-height: 13px}
    
        #arecopo li{font-size: 15px;}
     
    .GALERIA{
            margin:auto;  
            display: flex;
            flex-direction:column;
            margin-top: 150px; 
            align-items: center; 
            justify-content: center;}
    
    .galeri figure{
        width: 200px;
        height: 150px;}

        }
    


.TextoProyectos{font-size:16px;}
.TextoProyectos p{font-family: 'nunito'; font-size: 15px; padding:1%; margin-bottom: 6%;}



.GALERIA{margin-top: 150px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    align-items: center; 
    justify-content: center;
    }


.galeri{display:inline-flex; 
        margin-left: 6%;margin-bottom: 9%;
        align-items: center; 
        justify-content: center;
        }

.galeri figure{
    margin:0;
    padding:0;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.galeri img{width: 100%;
    padding: 0;
    height: 100%;
    width:100%;
    border-radius: 20px;
    filter:grayscale(70%);
    transition: 2.3s;}

.galeri .EfectoFoto{
    width: 100%;
    height: 100%;
    top: 0;
    right: -68%;
    position: absolute;
    font-family:'Nunito';
    border-radius: 15px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1.2s;}  
    
    a:hover .EfectoFoto{right: 0;}
    .galeri:hover img{filter:none;}
          
        

.piepagina{
        background-color: white;
        display:flex;
        height: 6vh;
        padding: 10px 5%;
        position:absolute;;
        bottom: 0;
        width: 90%;
        }
        
.piepagina .redes{margin:auto;
                          text-decoration: none;
                          display: flex;}
        
.piepagina .redes a{color: black;transition-duration: 0.2s;margin: 6px;}
.piepagina .redes a:hover{color: #0E8388;transform: scale(1.2);transition: all 0.6s}
