@charset "UTF-8";
.str1 {stroke:#201E1E;stroke-width:27.1625}
.str0 {stroke:#201E1E;stroke-width:26.0744;stroke-linecap:round;stroke-linejoin:round}
.fil0 {fill:none;fill-rule:nonzero}
.fil1 {fill:#201E1E;fill-rule:nonzero}
