* {
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    padding: 0%;
    margin: 0%;
    font-family: "Selectric Orator";
}


@font-face {
    font-family: "Selectric Orator";
    src: local("Selectric Orator"), url(Selectric\ Orator.ttf);
    ;
}

@font-face {
    font-family: "D-DINCondensed";
    src: local("D-DINCondensed"), url(D-DINCondensed.ttf)
}



/* Header y navbar */


.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 10px 5%;
    margin-top: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
}

/* Header Logo */


.Logoentero {
    margin-top: 1%;
    justify-content: space-between;
    align-items: center;
}

.Linklogo {
    text-decoration: none;
    display: flex;
}

#mediologo {
    height: 60px;
    margin-right: 10px;
}

header div ul {
    padding: 0%;
    margin: 15px auto;
    line-height: 14px;
}

#arecopo li {
    font-size: 19px;
    color: black;
    letter-spacing: 3px;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
}

/* Header logo typing efect */


.ARQ1 {
    animation: typing 1.3s steps(20, end);
    animation-fill-mode: forwards
}

.ARQ2 {
    animation: typing 1.3s steps(20, end);
    animation-delay: 1.3s;
    animation-fill-mode: forwards
}

.ARQ3 {
    animation: typing 1.3s steps(20, end);
    animation-delay: 2.6s;
    animation-fill-mode: forwards
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.Logoentero:hover {
    transform: scale(1.1);
    transition: all 0.4s
}


/* Header menu navbar */


nav {
    float: right;
    margin-right: 2%;
}

.nav-links {
    list-style: none;
    font-size: 19px
}

.nav-links li {
    display: inline-block;
}

.nav-links li:hover {
    transform: scale(1.2);
    transition: all 0.4s
}

.nav-links a {
    text-decoration: none;
    Color: black;
    padding: 0%;
    margin: 1vh;
}

.nav-links li a:hover {
    color: #0E8388;
}


/* Galeria fotos y cuerpo texto */


.CUERPO {
    margin-top: 150px;
    margin-left: auto;
    display:flex;
    margin-right: auto;
    width: 95%;
    height: auto;
    border-radius: 20px;
    padding: 5%;
    
}



/*GridCuerpo*/
.GridCuerpo{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
    
}

.GridCuerpo .Item {align-content: center;}

.uno{margin: auto;
    text-align:center;
    font-size: 16px;}
.uno p{margin: auto;}
.descrip{font-family: 'Nunito';}
.GridCuerpo img {width: 100%;height: auto;border-radius: 8px}
.ancho{grid-column: span 2;}
.alto{grid-row: span 2;
    grid-column: span 2;}









/* Pie de pagina redes */

.piepagina {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 6vh;
    padding: 10px 5%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.piepagina .redes {
    margin: auto;
    border-top: 1px solid black;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.piepagina .redes .icons {
    display: flex;
}

.piepagina .redes a {
    color: black;
    transition-duration: 0.2s;
    margin: 6px;
}

.piepagina .redes a {
    color: black;
    margin: 6px;

}

.piepagina .redes a:hover {
    color: #0E8388;
    transform: scale(1.2);
    transition: all 0.6s
}


/* media query */


@media (max-width: 952px) {

   .Logoentero:hover {
        transform: none;
    }

    .nav-links li:hover {
        transform: none;
    }

    .nav-links {
        margin-top: 5%;
        margin-inline-start: 26px;
        font-size: 18px;
        display: flex;
    }

    .header {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
    }

    .nav-links li {
        margin: 0%;
    }

    .nav-links a {
        margin: 13px
    }

    #mediologo {
        height: 45px;
        width: auto;
    }

    #arecopo {
        margin-top: 3%;
        line-height: 13px
    }

    #arecopo li {
        font-size: 15px;
    }

    .ARQ2,
    .ARQ3 {
        margin-top: 0%;
    }

    .ancho{grid-column: span 1;}
.alto{grid-row: span 1;
    grid-column: span 1;}
    
}

@media (max-width: 479px) {

    .Logoentero:hover {
        transform: none;
    }

    .nav-links li:hover {
        transform: none;
    }

    .nav {
        margin: 0%;
    }

    .nav-links {
        margin-top: 5%;
        padding: 0%;
        margin-inline-start: 0;
        margin-left: 0%;
        font-size: 18px;
        display: flex;
    }

    .header {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
    }


    .nav-links a {
        margin-left: 0%;
    }

    #mediologo {
        height: 45px;
        width: auto;
    }

    #arecopo {
        margin-top: 3%;
        line-height: 13px
    }

    #arecopo li {
        font-size: 15px;
    }

}